<%- include('../_partial/header') %>

<h1>Vulnerabilidade XSS (Cross-Site Scripting)</h1>

<form method="POST" action="/xss">
  <div style="color: red"><%= error %></div>

  <div>
    <label>
      <span>Comentário:</span>
      <textarea name="comment" cols="50" rows="5"></textarea>
    </label>
  </div>
  
  <div>
    <button type="submit">Enviar</button>
  </div>
</form>

<hr>

<style>
  table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid gray;
    padding: 10px
  }
</style>

<table>
  <% for(let comment of comments) { %>
    <tr>
      <td><%= comment.id %></td>
      <td><%- comment.comment %></td> 
      <td><%= comment.date_time.toLocaleDateString('pt-BR') %> <%= comment.date_time.toLocaleTimeString('pt-BR') %></td>
    </tr>
  <% } %>
</table>

<%- include('../_partial/footer') %>

<!-- <script>alert('Isto é um teste');</script>	 -->
<!-- <script src="https://faustocintra.com.br/_seg/virus.js"> -->
